body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:cornflowerblue;
}

.choices {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

button, .score, #start {
    margin-top: 20px;
}

img {
    max-width: 50px;
    max-height: 75px;
}

#start {
    font-size: 48px;
}