body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:cornflowerblue;
}

.choices {
    flex-direction: row;
    ;
}

button {
    margin-top: 20px;
}